page-home {
hr {
    height: 1px !important;
    margin-top: 10px;
    margin-bottom: 15px;
}

.text-center-vertically {
    display:flex;
    align-items: center;
}

.cashIcon {
    margin-right: 5px;
}

.card {
    margin-bottom: 20px !important;
}

.card-header {
    padding-bottom: 0 !important;
}

.card-title{
    padding-bottom: 0;
}

h2 {
    padding-bottom: 10px;
    color: #9E9E9E !important;
}
}


